PORT=3000
SYSTEM_URL=http://localhost:3000
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_postgres_password_here
POSTGRES_DB=chi_tieu_gd_dev
POSTGRES_PORT=5432
POSTGRES_HOST=localhost
POSTGRES_INITDB_ARGS=--encoding=UTF8 --locale=C
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}
JWT_SECRET=your_jwt_secret_here
